// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Media
//////////////////////////////////////////////////////
// Breackpoins in stylus/utils/variables.styl


$lg()
  @media screen and (min-width: $breackpoints.lg)
    {block}

$not-lg()
  @media screen and (max-width: $breackpoints.sm-max)
    {block}

$sm-min-not-lg()
  @media screen and (min-width: $breackpoints.sm) and (max-width: $breackpoints.sm-max)
    {block}

$not-xs()
  @media screen and (min-width: $breackpoints.sm)
    {block}

$xs()
  @media screen and (max-width: $breackpoints.xs-max)
    {block}


// Elements
//////////////////////////////////////////////////////

// Size )
$size($width, $height)
  width $width
  height $height


// Links
$link-style($color, $color-hover)
  $transition-default(color)

  &,
  &:focus
    color $color

  &:hover,
  &:active
    color $color-hover


$btn-color($color, $background)
  background-color $background
  color $color
  $transition-default(background)

  &:hover,
  &:active
    background-color darken($background, $fade-percent)
    color $color


// Effects
//////////////////////////////////////////////////////

// Default transitions

$transition-default($property)
  will-change $property;
  transition $property $transition.duration $transition.timing-function $transition.delay

$transitions-default()
  list = "";
  for property in arguments
    list = join(', ', list, join(' ', property, $transition.duration, $transition.timing-function, $transition.delay));
  will-change unquote(join(', ', arguments));
  transition unquote(substr(list, 2, length(list) - 2))
